*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*/*.jpg filter=lfs diff=lfs merge=lfs -text
*/*.jpeg filter=lfs diff=lfs merge=lfs -text
./pretrained_loss_network/*.pth filter=lfs diff=lfs merge=lfs -text
